<html>
  <head>
      <link rel="stylesheet" href="../static/format.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="meta">
    <div id="meta_head">
      <br>
      <h2>Pandora Duplicate Song Checker</h2>
      <h5> </h5>
    </div>
  </div>
  <div>
      <div class="form_holder">
          <div id="form_wrap">
              <form action="/result" method="POST">
                <label for="posturl">Insert Pandora Playlist URL</label>
                <br>
                <br>
                <input type="text" id="posturl" name="posturl" size="84">
                <br>
                <br>
                <input id="submit" type="submit" value="Submit">
              </form>
          </div>
      </div>
  </div>
</body>
</html>